.container {
  max-width: 114rem;
  margin: 0 auto;
}

.header {
  background: yellow;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  border-bottom: 3px solid lightgray;
}
.header__nav {
}

.header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__item {
}
.header__link {
  text-decoration: none;
}
