.container {
  max-width: 114rem;
  margin: 0 auto;
}

.header {
  background: yellow;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  border-bottom: 3px solid lightgray;
}
.header__nav {
}

.header__list {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
}
.header__link {
  text-decoration: none;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.btn--sign-in {
  background-color: red;
}

.btn--sign-out {
  background-color: blue;
}
